# Auto detect text files and perform LF normalization
#==========================
# Node
#==========================

node_modules/

#==========================
# Electron build
#==========================

build/
dist/
out/

#==========================
# Logs
#==========================

*.log
npm-debug.log*

#==========================
# OS
#==========================

Thumbs.db
.DS_Store

#==========================
# VS Code
#==========================

.vscode/

#==========================
# Backup personali
#==========================

.git_old/
